

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Новости о телефонах</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<style>
      body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background-color: #f0f0f0;
      }

      .container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
      }

      h1 {
        text-align: center;
      }

      ul {
        list-style-type: none;
        padding: 0;
      }

      li {
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
      }

      img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto 10px;
      }

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }

      p {
        font-size: 16px;
        margin-bottom: 10px;
      }

      a {
        color: #007bff;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      .navbar {
        overflow: hidden;
        background-color: #333;
      }

      .navbar a {
        float: left;
        display: block;
        color: #f2f2f2;
        text-align: center;
        padding: 14px 20px;
        text-decoration: none;
      }

      .navbar a:hover {
        background-color: #ddd;
        color: black;
      }

      .navbar a.active {
        background-color: #4caf50;
        color: white;
      }

    </style>
  </head>
  <body>
    <%- include('navbar.ejs') %>.
    


    <div class="container">
      <h1>Новости о телефонах</h1>
      <ul>
        <% articles.slice(0, 15).forEach(article => { %>
        <li>
          <h2><%= article.title %></h2>
          <img
            src="<%= article.urlToImage %>"
            alt="<%= article.title %> Image"
          />
          <p><%= article.description %></p>
          <p><a href="<%= article.url %>">Читать далее</a></p>
        </li>
        <% }); %>
      </ul>
    </div>

  </body>
</html>
